
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.google{
  background-color: orangered;
  color: white;
  padding: 4%;
  font-size: 1.3rem;
}

.facebook{
  background-color: royalblue;
  color: white;
  padding: 4%;
  font-size: 1.3rem;
}
